@import "../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts" !default;

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "intro.scss";

html body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
#btn-landing {
  margin-top: 30px;
}
.fullscreen {
  height: 100vh;
  display: inline-block;
  width: 100%;
}
.fullscreen-min {
  min-height: 100vh;
  display: inline-block;
  width: 100%;
}
section#section-header {
  background-image: url("../img/header-code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#section-header > div.header-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
section#section-header > div.header-container h3 {
  line-height: 50px;
  color: #fff;
  letter-spacing: 6px;
  font-size: 50px;
}
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}
/*
-----------------------------------------------------
  Fine tuning
-----------------------------------------------------
*/
#navWrap {
  height:80px;
}
.parallax {
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  margin-top: 66px;
  text-align: center;
}
.navbar {
  z-index: 1000;
  min-height: 80px;
}
.img {
  width: 100%;
}
.information li {
  list-style-type: none;
  line-height: 50px;
}
/*
  Timeline for CV
 */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #808080;
  top: 0;
  bottom: 0;
  left: 15px;
  margin-left: -3px;
}
/* Container around content */
.timeline-container {
  padding: 10px 0 10px 40px;
  position: relative;
  background-color: inherit;
}
.timeline-container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}
/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0px;
  background-color: #fff;
  border: 4px solid #d3d3d3;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.contact-box {
  margin-bottom: 16px;
  line-height: 18px;
}
.contact-box h3 {
  font-size: 16px;
  margin: 0;
  float: left;
  width: 100px;
}
.contact-box span {
  display: inline-block;
}
.contact-box:after {
  clear: both;
}
.clear {
  clear: both;
}
/*
  Social Media Buttons
*/
.social-media-buttons {
  padding-left: 0;
  margin-top: 16px;
  text-align: center;
/* Style all font awesome icons */
/* Add a hover effect if you wan$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";t */
/* Set a specific color for each brand */
/* Facebook */
/* Twitter */
}
.social-media-buttons > li {
  display: inline;
  width: 30px;
  margin: 0 8px 0 8px;
}
.social-media-buttons .fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.social-media-buttons .fab:hover {
  opacity: 0.7;
}
.social-media-buttons .fa-facebook {
  background: #3b5998;
  color: #fff;
}
.social-media-buttons .fa-twitter {
  background: #55acee;
  color: #fff;
}
.social-media-buttons .fa-linkedin {
  background: #007bb5;
  color: #fff;
}
.social-media-buttons .fa-github {
  background: #24292e;
  color: #fff;
}
footer .container {
  border-top: 1px solid #000;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .social-media-buttons {
    text-align: left;
  }
  .social-media-buttons li {
    margin: 0;
  }
}