html body {
  box-sizing: border-box;
}
.fullscreen {
  height: 100vh;
  display: inline-block;
  width: 100%;
}
section#section-header {
  background-image: url("../img/header-code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#section-header > div.header-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
section#section-header > div.header-container h3 {
  line-height: 50px;
  color: #fff;
  letter-spacing: 6px;
  font-size: 50px;
}
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}
.parallax {
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
