@import "../../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "../webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "intro.scss";
@import "education.scss";



html body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
#btn-landing {
  margin-top: 30px;
}
.fullscreen {
  height: 100vh;
  display: inline-block;
  width: 100%;
}
.fullscreen-min {
  min-height: 100vh;
  display: inline-block;
  width: 100%;
}
section#section-header {
  background-image: url("../img/header-code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#section-header > div.header-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
section#section-header > div.header-container h3 {
  line-height: 50px;
  color: #fff;
  letter-spacing: 6px;
  font-size: 50px;
}
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}


/*
-----------------------------------------------------
  Fine tuning
-----------------------------------------------------
*/
#navWrap {
  height:80px;
}
.parallax {
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  margin-top: 66px;
  text-align: center;
}
.navbar {
  z-index: 1000;
  min-height: 80px;
}
.img {
  width: 100%;
}
.information li {
  list-style-type: none;
  line-height: 50px;
}

.clear {
  clear: both;
}
/*
  Social Media Buttons
*/
.social-media-buttons {
  padding-left: 0;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 50px;
/* Style all font awesome icons */
/* Add a hover effect if you wan$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";t */
/* Set a specific color for each brand */
/* Facebook */
/* Twitter */
}
.social-media-buttons li {
  display: inline;
  height: 50px;
  margin: 0;
}
.social-media-buttons .fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.social-media-buttons .fab:hover {
  opacity: 0.7;
}
.social-media-buttons .fa-facebook {
  background: #3b5998;
  color: #fff;
}
.social-media-buttons .fa-x-twitter {
  background: #000000;
  color: #fff;
}
.social-media-buttons .fa-linkedin {
  background: #007bb5;
  color: #fff;
}
.social-media-buttons .fa-github {
  background: #24292e;
  color: #fff;
}
footer {
  padding-bottom: 8px;
  .container {
    margin-top: 8px;
    padding-top: 8px;
    line-height: 50px;
    text-align: center;
  }
  .published {
    font-size: 0.7em;
  }
  .imprint {
    color: grey;
    display: block;
    line-height: normal;
  }
  p {
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 4px;
  }
}
