---
layout: layout.njk
title: Vierheller
---

<section id="section-intro" class="content bg-light">
    <div class="container">
        <div class="row information">
            <div class="col-sm-12 col-md-4">
                <img class="img" src="img/portrait.png">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-7 col-xl-6">
                <p>
                    Hello, I'm Jan-Niklas Vierheller
                </p>
                <h1>
                    Software Architecture & <br>
                    IT-Security
                </h1>
                <p>
                    As a software architect with a passion for perfecting grown systems, I have a keen eye for identifying areas to optimize system performance, scalability, and maintainability. With extensive experience working on complex software systems, I've adept at implementing best practices for software design and development. I am also a security champion, deeply committed to promoting a culture of security awareness and ensuring that security is always a top priority. Let me help you build robust, secure, and scalable systems that exceed your expectations.
                </p>
        </div>
    </div>
</section>
<section id="section-cv" class="content">
    <div class="container">
        <div class="title">
            <h2>Education and Knowledge</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="timeline">
                    <div class="timeline-container">
                        <div class="content">
                            <h2>2015-2018</h2>
                            <p>Bachelor of Science <br>
                                Applied Computer Science <br>
                                @ DHBW Mannheim
                            </p>
                        </div>
                    </div>
                    <div class="timeline-container">
                        <div class="content">
                            <h2>2020-2021</h2>
                            <p>Master of Science <br> 
                                Computer Science <br>
                                @ TU Darmstadt
                            </p>
                        </div>
                    </div>
                    <div class="timeline-container">
                        <div class="content">
                            <h2>2021-today</h2>
                            <p>Master of Science <br>
                                IT-Security<br>
                                @ TU Darmstadt
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                Software Architecture
                            </div>
                            <div class="card-body">
                                <p class="card-text">With a deep understanding of design patterns, system architecture, and software development methodologies and years of experience working on complex software systems, I helped my team improve the quality of the software, which led to a track record of success in identifying areas of improvement and implementing solutions that result in higher quality code and more efficient development processes. Through my leadership and expertise, I have helped my teams deliver software that meets the needs of clients and end-users while also improving the overall development experience for everyone involved.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" >
                            <div class="card-header">
                                Domain-driven Design
                            </div>
                            <div class="card-body">
                                <p class="card-text">I am passionate about Domain-driven Design (DDD) and have been working hard to introduce this powerful methodology in my company. With a deep understanding of DDD principles and practices, I have convinced my colleagues of the value of this approach. I have successfully led the implementation of DDD in several projects. Through these efforts, I have helped my company to build more robust and scalable systems that better reflect the real-world problems they are designed to solve.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" >
                            <div class="card-header">
                                IT Security
                            </div>
                            <div class="card-body">
                                <p class="card-text">As a security champion, I am passionate about ensuring that software systems are secure and protected from threats. With a deep understanding of security best practices and a strong background in software development, I have led the charge in identifying and mitigating security vulnerabilities in my organization's software systems. I can work closely with technical and non-technical stakeholders to promote a culture of security awareness and ensure that security is always a top priority in every project. Through my efforts, I have helped my organization build software systems that are functional, scalable, secure, and resilient in the face of potential threats.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" >
                            <div class="card-header">
                                Cloud Computing
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">With my extensive experience in cloud computing, I can design and deploy scalable, secure, and highly available cloud infrastructures on major platforms such as AWS, Azure, and GCP. My expertise in managing complex cloud-based solutions and performing migrations ensures that systems meet the specific needs of clients and end-users.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" >
                            <div class="card-header">
                                DevOps
                            </div>
                            <div class="card-body">
                                <p class="card-text">I have years of experience working in agile environments with a proven track record of delivering high-quality software releases with speed and efficiency, thanks to my expertise in continuous integration and deployment, infrastructure as code, and monitoring and logging.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                Android Development
                            </div>
                            <div class="card-body">
                                <p class="card-text">I am a hobbyist Android Developer passionate about building mobile applications using Java and Kotlin. I enjoy staying up-to-date with Android development trends and best practices to create fun and user-friendly apps.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
